@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  direction: rtl;
  background-image: url("../../public/white.jpg");
  background-size: cover; /* تغطية الشاشة */
  background-position: center; /* وضعها في المنتصف */
  background-repeat: no-repeat; /* عدم التكرار */
  background-attachment: fixed; /* تثبيت الخلفية */
  background-color: rgba(255, 255, 255, 0.85); /* لون أبيض شفاف */
  background-blend-mode: overlay; /* مزج الخلفية مع اللون */
}

html.dark body {
  background-image: url("../../public/dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8); /* لون أسود شفاف */
  background-blend-mode: overlay; /* مزج الخلفية مع اللون */
}
/* swiper banner */
.swiper {
  width: 85%;
  height: 500px;
  margin: 0 auto !important;
  object-fit: cover !important;
}
@media (max-width: 640px) {
  .swiper {
    width: 100% !important;
    object-fit: cover !important;
    height: 300px;
    margin: 0 auto !important;
  }
}
.swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* rippon  */
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 0px; /* the top offset */
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 4px 16px var(--f) calc(10px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #e11d48;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
/* icons */
.icon:nth-child(1):hover {
  background: #e11d48;
}
.icon:nth-child(2):hover {
  background: #1877f2;
}
.icon:nth-child(3):hover {
  background: black;
}
.icon:nth-child(4):hover {
  background: #ff0033;
}
.icon:nth-child(5):hover {
  background: #58f574;
}
/* swiper insta */
.swiper2,
.swiper3 {
  width: 100%;
  height: 100%;
}
/* customers */
.swiper-scrollbar-drag {
  background: #e11d48 !important;
}
.servHero {
  /* background-image: url("../../public/banner.jpg"); */
}
/* hero slider */
.swiper4 {
  width: 100% !important;
  height: 100% !important;
}
.swiper4 .swiper-slide img {
  border-radius: 10px;
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
}
/* exhibtions swiper */

.mySwiper2 {
  width: 100%;
  height: 350px !important;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 650px) {
  .mySwiper2 {
    height: 300px !important;
  }
}
.mySwiper2 .swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiperEx {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiperEx .swiper-slide {
  display: flex;
  flex: 1;
  height: 100%;
  filter: brightness(0.3);
  margin-top: 10px !important;
}
.mySwiperEx .swiper-slide img {
  height: 100%;
  width: 100%;
  border: 2px solid #e11d48;
}

.mySwiperEx .swiper-slide-thumb-active {
  filter: brightness(1);
}
.mySwiper2 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px !important; /* العرض */
  height: 30px !important; /* الارتفاع */
  background-color: #e11d47bb !important; /* لون الخلفية إذا كنت ترغب في تغييره */
  border-radius: 50% !important; /* لجعلها دائرية */
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e11d48 !important;
}

/* تعديل لون الأيقونات بداخل الأزرار */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important; /* حجم الأيقونة */
  color: white !important; /* لون الأيقونة */
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
